<div class="background"></div>
<div class="container" style="margin-bottom: 30px">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
       <div class="card">
         <div class="card-header">
            <h4>Registration</h4>
            <div class="socials">
                <a mat-mini-fab style="background-color: #55acee;"><i class="fa fa-twitter"></i></a>
                <a mat-mini-fab style="background-color: #ea4c89; margin: 0 5px;"><i class="fa fa-dribbble"></i></a>
                <a mat-mini-fab style="background-color: #3b5998;"><i class="fa fa-facebook"></i></a>
              </div>
         </div>
         <p class="tip"> {{errMsg}}</p>
         <div class="card-form">
         
          <form 
          (ngSubmit)="Register(registerForm.value)" 
          [formGroup]="registerForm" autocomplete="off" novalidate  fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">


            <div class="row">
                <i class="material-icons">face</i>
                <mat-form-field color="accent">
                  <input type="text" matInput placeholder="Name"formControlName="name" [(ngModel)]="name" id="name" name="name">
                </mat-form-field>
              </div>
              <div class="row">
                <i class="material-icons">email</i>
                <mat-form-field color="accent">
                  <input type="email" matInput placeholder="Email address"formControlName="email" [(ngModel)]="email" id="email" name="email"/>

                </mat-form-field>
              </div>
              <div class="row">
                <i class="material-icons">lock_outline</i>
                <mat-form-field color="accent">
                  <input type="password" matInput placeholder="Password" formControlName="password"[(ngModel)]="password" name="password" />
                </mat-form-field>
              </div>
             
              <div class="row" style="display: flex; justify-content: center">
                <button mat-raised-button class="btn btn-primary btn-round" type="submit" >Signup</button>
              </div>
              <div class="row" style="display: flex; justify-content: center ;margin-top: 10px">
                  <div>
                     <a routerLink="/login"><i class="material-icons"></i>
                      Login
                    </a>
                  </div>
           
           
                  </div>


                  </form>
         </div>
       
      </div>
     </div>
   </div>
  </div>
</div>







