<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Booked Jobs</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Staff Name</th>
                  <th>Client Name</th>
                  <th>Job Booking Time</th>
                  <th>Job Start Time</th>
                  <!-- <th>Salary</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sammy Kamonjo</td>
                  <td>Kayole Sacco</td>
                  <td>20-07-2019 | 9:56pm</td>
                  <td>25-07-2019 | 1:00pm</td>
                  <!-- <td class="text-primary">$36,738</td> -->
                </tr>
             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>