<div class="container">
        <app-navbar title="User Profile"></app-navbar>
        <div class="row" style="margin-top: 30px" fxLayoutAlign="center ">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <i class="material-icons">perm_identity</i>
    
              </div>
             
                 <div class="right-profile">
                  <div class="profile">
                    <img src="../../../assets/img/marc.jpg" alt="profile"/>
                  </div>
                 
                </div>
              <div class="card-content;col-sd-12 " style="padding: 50px">
                <h4 class="card-title" style="margin-top: 20px">Edit Job
                 
                </h4>
                <form  [formGroup]="ownerForm">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field color="accent">
                        <input matInput type="text" placeholder="Job Name"   name="jobname">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field color="accent">
                        <input matInput type="text" placeholder="Location" name="Location">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field color="accent">
                        <input matInput type="text" placeholder="Client Name">
                      </mat-form-field>
                    </div>
      <div class="col-md-6">
                      <mat-form-field color="accent">
                        <input matInput type="text" placeholder="Number of staffs">
                      </mat-form-field>
                    </div>
    
                  </div>
             
               
                  <div class="row action-btn">
                    <button md-raised-button type="submit" class="btn btn-info">UPDATE </button>
                  </div>
                
                  <div class="row action-btn">
                        <button md-raised-button type="submit" class="btn btn-rose">DELETE </button>
                      </div>
                </form>
              </div>
            </div>
          </div>
     
        </div>
      </div>
      
    