<header style="margin-bottom: 30px">
    <div class="left">
      <h3>Spruce | Support</h3>
    </div>
    <div class="right" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs >
      <a  routerLink="/dashboard" routerLinkActive="router-active"><i class="material-icons">dashboard</i><p>DASHBOARD</p></a>
      <a routerLink="/login" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">fingerprint</i><p>LOGIN</p></a>
      <!-- <a routerLink="/signup" routerLinkActive="router-active"><i class="material-icons">person_add</i><p>REGISTER</p></a> -->
    </div>
  </header>
  