<section fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 20px">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
   
    <form [formGroup]="newCompanyForm" autocomplete="off" novalidate (ngSubmit)="createOwner(newCompanyForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
          <input matInput type="text" placeholder="Client's name" formControlName="companyname" id="name">
          <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
          <mat-error *ngIf="hasError('companyname', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('companyname', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Join Date" formControlName="joinDate" id="joinDate"
            readonly (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Phone" formControlName="phone">
          <!-- <mat-hint align="end">Not more then 100 characters long.</mat-hint> -->
          <mat-error *ngIf="hasError('phone', 'required')">Phone is required</mat-error>
          <mat-error *ngIf="hasError('phone', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Client's Email" formControlName="email">
          <!-- <mat-hint align="end">Not more then 100 characters long.</mat-hint> -->
          <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="hasError('email', 'maxlength')">Wrong Email</mat-error>
        </mat-form-field>



        <mat-form-field>
          <input matInput type="text" placeholder="Location" formControlName="location">
          <!-- <mat-hint align="end">Not more then 100 characters long.</mat-hint> -->
          <mat-error *ngIf="hasError('location', 'required')">Location is required</mat-error>
          <mat-error *ngIf="hasError('location', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>



        <mat-form-field>

            <textarea matInput type="text" placeholder="Jobs type description" formControlName="jobdesc"></textarea>
            <!-- <mat-hint align="end">Not more then 100 characters long.</mat-hint> -->
          <mat-error *ngIf="hasError('jobdesc', 'required')">Description  is required</mat-error>
          <mat-error *ngIf="hasError('jobdesc', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>


      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!newCompanyForm.valid">Create</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>